.header__lang-link {
    color: white;
    margin: 0;
    font-size: 1.5rem;
    line-height: 1.17;
    align-self: end;
    text-decoration: none;

}

.header__lang-link:last-child {
    padding-left: 18px;
}

.header__lang-link:hover {
    opacity: 0.8;
}

@media screen and (max-width: 767px) {
    .header__lang-link {
      font-size: 18px;
      line-height: 24px;
    }
  }