.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(213px, 1fr));
  gap: 16px;
  margin: auto;
  max-width: 1184px;
  }

  @media (min-width: 769px) and (max-width: 1024px) {
    .photo-grid {
      gap: 14px;
      max-width: calc(100% - 96px);
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    }
  }

  @media (min-width:426px) and (max-width: 768px) {
    .photo-grid {
      max-width: calc(100% - 48px);
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    }
  }


  @media (max-width: 426px) {
    .photo-grid {
      gap: 12px;
      max-width: calc(100% - 32px);
      grid-template-columns: 1fr;
      grid-template-rows: repeat(12, 1fr);
    }
  }