.places {
  max-width: 984px;
  padding-top: 92px;
  padding-bottom: 92px;
  margin: auto;
}
@media (min-width: 769px) and (max-width: 1024px) {
  .places {
    max-width: 928px;
  }
}
@media (min-width: 426px) and (max-width: 768px) {
  .places {
    max-width: 720px;
    padding-bottom: 90px;
    padding-top: 88px;
  }
}

@media (max-width: 425px) {
  .places {
    max-width: 100%;
    padding-bottom: 66px;
    padding-top: 64px;
  }
}