.place__image {
 width: 460px;
 padding-top: 48px;
  }

@media screen and (max-width: 1024px) {
    .place__image {
        width: 88%;
        height: 88%;
    }
}

@media screen and (max-width: 768px) {
    .place__image {
        width: 68%;
        height: 68%;
    }
}

@media screen and (max-width: 320px) {
    .place__image {
        width: 68%;
        height: 68%;
    }
}