.lead {
    padding-top: 56px;
    padding-bottom: 92px;
    max-width: 984px;
    margin: auto;
  }

@media (max-width: 1024px) {
  .lead {
    padding-top: 48px;
    padding-bottom: 88px;
  }
}

  @media (min-width: 769px) and (max-width: 1024px) {
    .lead {
      max-width: 928px;
    }
  }
  
  @media (max-width: 768px) {
    .lead {
      max-width: 100%;
    }
  }

  @media (max-width: 425px) {
    .lead {
      padding-bottom: 64px;
    }
  }