.cover__subtitle {
width: 360px;
font-size: 1.125rem;
line-height: 1.22;
text-align: center;
margin: 32px auto 0;
color: white;
z-index: 2;
}

@media screen and (max-width: 720px) {
  .cover__subtitle {
      max-width: 288px;
      font-size: 14px;
      line-height: 16px;
  }
}

@media screen and (max-width: 425px) {
  .cover__subtitle {
      margin-top: 16px;
  }
}