.cover__subtitle {
width: 360px;
font-size: 1.125rem;
line-height: 1.22;
text-align: center;
margin: 0;
z-index: 2;
}

@media (max-width: 425px) {
    .cover__subtitle {
      width: 100%;
      font-size: 14px;
      line-height: 18px;
    }
  }