.footer__link {
    padding-left: 18px;
    margin: 0;
    text-decoration: none;
    color: white;
}

.footer__link:first-child {
    padding-left: 0;
}

.footer__link:hover {
    opacity: 0.8;
}

@media (max-width: 426px) {
    .footer__link{
      padding-left: 0;
      padding-bottom: 32px;
    }
}