.lead__title {
  font-size: 6rem;
  line-height: 1.04;
  font-weight: 900;
  color: white;
  max-width: 73.17%;
  margin: auto;
  text-align: center;
  }

  @media (min-width: 769px) and (max-width: 1024px) {
    .lead__title {
      max-width: 720px;
    }
  }

  @media (min-width: 426px) and (max-width: 768px) {
    .lead__title {
      max-width: 100%;
      font-size: 54px;
      line-height: 1.07;
    }
  }

  @media (max-width: 425px) {
    .lead__title {
      padding-bottom: 16px;
      max-width: 288px;
      font-size: 40px;
      line-height: 1.1;
    }
  }