.place__paragraph {
  font-size: 1.125rem;
  line-height: 1.63;
  margin: 0;
  padding-bottom: 26px;
}

.place__paragraph:last-child {
  padding-bottom: 0px;
}

@media (min-width: 426px) and (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 26px;
    width: 100%;
    
  }
}
@media (max-width: 425px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 26px;
    width: 288px;
  }
}
