.cover__background {
width: 1184px;
height: 740px;
margin: auto;
background-image: url(../../../images/cover-trains.jpg);
background-size: cover;
position: relative;
opacity: 0.8;
}

@media screen and (max-width: 1280px) {
    .cover__background {
        width: 1024px;
    }
}

@media screen and (max-width: 1100px) {
    .cover__background {
        width: 768px;
    }
}

@media screen and (max-width: 768px) {
    .cover__background {
        width: 768px;
    }
}

@media screen and (max-width: 320px) {
    .cover__background {
        width: 320px;
    }
}