.lead__caption {
  font-size: 0.63rem;
  line-height: 1.4;
  font-weight: 400;
  color: white;
  padding-top: 0.81%;
  margin: 0;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  }

  @media (min-width: 426px) and (max-width: 768px) {
    .lead__caption {
      margin: 0 auto 0 24px;
    }
  }

  @media (max-width: 768px) {
    .lead__caption {
      max-width: 100%;
    }
  }

  @media (max-width: 425px) {
    .lead__caption {
      margin: 0 auto 0 16px;
    }
  }