.cover__title {
font-size: 4.5rem;
line-height: 1.056;
font-weight: 900;
width: 560px;
text-align: center;
margin: 0;
z-index: 10;
}

@media (min-width: 426px) and (max-width: 560px) {
    .cover__title {
      font-size: 32px;
      line-height: 36px;
    }
  }
  @media (max-width: 425px) {
    .cover__title {
      width: 250px;
      font-size: 32px;
      line-height: 36px;
    }
  }