.place {
  padding-bottom: 80px;
  display: grid;
  grid-template-columns: minmax(440px, 460px) minmax(456px, 484px);
  column-gap: 40px;
  row-gap: 48px;
  color: white;
}

.place:last-child {
  padding-bottom: 0px;
}


@media (min-width: 769px) and (max-width: 1024px) {
  .place {
    grid-template-columns: 440px minmax(200px, 440px);
    column-gap: 32px;
  }
}
@media (min-width: 426px) and (max-width: 768px) {
  .place {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    column-gap: 28px;
    padding-bottom: 73px;
  }
}
@media (max-width: 425px) {
  .place {
    grid-template-columns: 320px;
    column-gap: 0px;
    row-gap: 32px;
    padding-bottom: 50px;
  }
}