.footer {
    display: grid;
    grid-template-rows: 92,5%;
    grid-template-columns: repeat(5, minmax(min-content, max-content)) 719px;
    padding-top: 7.19%;
    margin: auto;
    color: white;
    font-size: 1rem;
    line-height: 1.125;
    padding-bottom: 2.03%;
    padding-left: 3.75%;
    
}

@media screen and (max-width: 1024px) {
    .footer {
        grid-template-columns: repeat(5, minmax(min-content, max-content)) 463px;
    }
}

  @media screen and (max-width: 768px) {
    .footer {
        grid-template-columns: repeat(5, minmax(min-content, max-content)) 255px;
    }
  }

  @media screen and (max-width: 320px) {
    .footer {
        grid-template-columns: repeat(6, minmax(auto-fill, max-content));
    }
  }