.footer {
    /*display: grid;
    grid-template-rows: 92,5%;
    grid-template-columns: repeat(5, minmax(min-content, max-content)) 719px;*/
    display: flex;
    flex-direction: row;
    padding-top: 7.19%;
    margin: auto;
    color: white;
    font-size: 1rem;
    line-height: 1.125;
    padding-bottom: 2.03%;
    max-width: 1184px;
    flex-wrap: wrap;
    
}

@media screen and (max-width: 1024px) {
    .footer {
      max-width: 928px;
    }
}

  @media screen and (max-width: 768px) {
    .footer {
       max-width: 720px;
    }
  }

  @media screen and (max-width: 320px) {
    .footer {
        max-width: 186px;
    }
  }