.intro__title {
   font-size: 3.37rem;
   font-weight: 900;
   line-height: 1.07;
   margin: 0;
  }

  @media (max-width: 425px) {
   .info__title {
     max-width: 84%;
     font-size: 32px;
     line-height: 1.09;
   }
 }